fastapi
uvicorn
pydantic
email-validator
websockets
crewai
langchain
langchain-community
langchain-openai
langchain-core
ollama
aiomysql
asyncpg
psycopg2-binary
tensorflow
transformers
scikit-learn
pandas
numpy
langchain-google-genai
litellm
beautifulsoup4
boto3
langsmith
slowapi
psycopg2-binary
bcrypt
celery
redis